body, html {
  width:100%;
  height:100%;
  margin:0px;
}

body * {
  box-sizing: border-box;
}

#root {
  background: #fff;
  border-radius: 4px;
  padding: 10px 20px 30px 20px;
  height: 90%;
}

.active {
  display: inline-block !important;
}

.inactive {
  display: none !important;
}

.toolbar {
  top: 0px;
  padding: 5px;
  margin-bottom: 5px;
  display:flex;
  justify-content: flex-start;
}

.toolbar div.active {
  display: inline;
}

.toolbar .separator {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
  height: 35px;
  background-color: #ddd;
  vertical-align: middle;
}

.sand {
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

/* component style */

.canvasWrapper {
  height:100%;
  width:100%;
  overflow: hidden;
  background-image: url(data:image/gif;base64,R0lGODlhCgAKAIAAAOLi4v///yH5BAAHAP8ALAAAAAAKAAoAAAIRhB2ZhxoM3GMSykqd1VltzxQAOw==);
}

.canvasWrapper:focus {
  outline:0;
} 

.paper {
  width:100%;
  height:100%;
  margin:0px;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin: 0 2px;
  padding: 2px;
  border: 1px solid rgba(85, 85, 85, 1);
  border-radius: 6px;
  vertical-align: middle;
  opacity: 0.6;
  flex-basis: 0;
  user-select: none;
}

button:hover {
  opacity: 1;
}

button:disabled {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.1);
}

button img, button svg {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

button:focus {
  outline:0;
}

.value_input {
  width: 5em;
  height: 36px;
  vertical-align: middle;
  margin: 0 2px;
  padding: 5px;
  border: 1px solid rgba(85, 85, 85, 1);
  border-radius: 6px;
  text-align: center;
}

.value_input:focus {
  outline:0;
}

.filler {
  flex: 1;
}

.shield {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);  
  pointer-events: none;
}

/* - busy indicator stuff - */
.viewer-busyind {
  /* display: none; */
  /* z-index: 65536; */
	position: absolute;
	width: 64px;
	height: 64px;
	top: 49%;
	left: 49%;
	margin-top: -32px;
	margin-left: -32px;
	border: 12px solid #8f8f8f;
	border-right-color: transparent;
	border-radius: 50%;
 	-webkit-animation: viewer-spin 3s linear infinite;
 	-moz-animation: viewer-spin 1s linear infinite;
	-ms-animation: viewer-spin 1s linear infinite;
	-o-animation: viewer-spin 1s linear infinite;
	animation: viewer-spin 1s linear infinite;
}
@-webkit-keyframes viewer-spin {
	from { -webkit-transform: rotate(0deg); opacity: 0.4; }
	50% { -webkit-transform: rotate(180deg); opacity: 1; }
	to { -webkit-transform: rotate(360deg); opacity: 0.4; }
}
@-moz-keyframes viewer-spin {
	from { -moz-transform: rotate(0deg); opacity: 0.4; }
	50% { -moz-transform: rotate(180deg); opacity: 1; }
	to { -moz-transform: rotate(360deg); opacity: 0.4; }
}
@-ms-keyframes viewer-spin {
	from { -ms-transform: rotate(0deg); opacity: 0.4; }
	50% { -ms-transform: rotate(180deg); opacity: 1; }
	to { -ms-transform: rotate(360deg); opacity: 0.4; }
}
@-o-keyframes viewer-spin {
	from { -o-transform: rotate(0deg); opacity: 0.4; }
	50% { -o-transform: rotate(180deg); opacity: 1; }
	to { -o-transform: rotate(360deg); opacity: 0.4; }
}
@keyframes viewer-spin {
	from { transform: rotate(0deg); opacity: 0.2; }
	50% { transform: rotate(180deg); opacity: 1; }
	to { transform: rotate(360deg); opacity: 0.2; }
}

.dlg {
  width: 400px;
  height: 300px;
  margin:auto;
  z-index: 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.dialogwrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
}

.dlgtitle {
  font-size: 16pt;
  padding: 5px 10px;
  flex-basis: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.dialogwrapper.active {
  display: flex !important;
}

.dlg .toolbar {
  flex-basis: 0;
}

.dlg .dlgcontent {
  flex-shrink: 1;
  flex-grow: 1;
  border-bottom-style: solid;
  border-color: rgba(0,0,0,0.15);
  border-bottom-width: 1px; 
  padding: 1rem;
}

.dlgrow {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}